body {
  font-family: system-ui;
  overflow-x: hidden;
}

.bg-gradient {
  background: rgb(255, 255, 85);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 85, 1) 0%,
    rgba(255, 204, 0, 1) 33%,
    rgba(255, 165, 0, 1) 68%,
    rgba(255, 102, 0, 1) 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% 29%, 0 100%);
  width: 100%;
  height: 500px;
  position: absolute;
  inset: 0;
  z-index: -100;
}

.body {
  width: 100%;
  height: 100%;
  padding: 5.5rem 8rem;
  display: flex;
  overflow: hidden;
  gap: 16rem;
}

.U01 {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
  border: 2px white;
}

.U1 {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.tab-header {
  cursor: pointer;
}

.bio {
  font-size: medium;
}

.container {
  text-align: center;
  margin-top: -150px;
}

.link {
  width: 25px;
}

h5 {
  width: 245px;
}

a {
  display: flex;
  color: black;
  text-decoration: none;
}

a:hover .link-svg {
  animation-play-state: running;
}

@keyframes bounce {
  0% 100% {
    color: black;
  }

  50% {
    color: white;
  }
}

.link-svg {
  height: 30px;
  width: 30px;
  vertical-align: bottom;
  margin-bottom: 0px;
  animation: bounce 1.2s linear infinite;
  animation-play-state: paused;
}
